body {
    background-color: white;
}
.navi {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    z-index: 1;
    background-color: black;
}

.cp {
    width: 150px;
    height: 36px;
    border-radius: 5px;
    border-color: orange;
}
.lista{
    position: fixed;
    top: 50px;
    right: 0;
    width: 250px;
}
.book{
    text-align: center;
}
.thumb {

   max-width: 50%;
   min-width: 50%;
}
.divisao {
    width: 70px;
    height: 5px;
    background-color: brown;
    border-radius: 100px;
}

li, ul {
    background-color: black;
}

 .logo {
    font-family: arial black;
 }

 #borda {
    border-color: orange;
    color:orange;
 }
 
a {
    color: white;
}


 a:hover {
        text-decoration: none;
        color: #ff791f;
        text-decoration:none;
}

h5 {
    font-family: cursive;
}
.verFotos{
    background-color: white;
    color: #850;
    font-family: arial black;
    border-color: orange;
    border-radius: 10px;
}
.verFotos:hover {
    color: black;
    background-color: orange;
}
.icone {
    width: 30px;
    height: 30px;
 }
 /*BLUR NOS ICONES*/
 .blur img {
  -webkit-transition: all 0.1s ease;
     -moz-transition: all 0.1s ease;
       -o-transition: all 0.1s ease;
      -ms-transition: all 0.1s ease;
          transition: all 0.1s ease;
}
 
.blur img:hover {
  -webkit-filter: blur(2px);
}

.logo {
    font-family: arial black;
    color: orange;
 }
 .recuo {
    padding-left: 30%;
}